Source: python-eyetracker
Section: science
Priority: extra
Maintainer: Karol Auguštin <karol@augustin.pl>
Build-Depends: bash, debhelper
Standards-Version: 3.9.3
Vcs-Git: git://git.braintech.pl/eyetracker-ng.git
Vcs-Browser: http://git.braintech.pl/eyetracker-ng.git

Package: python-eyetracker
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}, python-opencv, python-numpy, python-qt4, git
Description: Eyetracking program.
 Educational eye-tracking program fully implemented in python
 and licensed under GPL 3+ license. It’s main purpose is to
 provide functional tool for learning basics of image processing.
 .
 Beeing fully functional program, eyetracker-ng can be used to 
 develop costom image processing algorithms by providing easy 
 to use opencv wrapper.


